$color_1: white;
$color_2: gray;
$background-color_1: white;
$background-color_2: rgb(45, 45, 153);
$background-color_3: black;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(60deg, rgba(217, 78, 221, 1) 53%, rgba(0, 212, 255, 1) 76%);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.login {
	width: 40% !important;
	height: 80% !important;
	background-color: $background-color_1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 10px; 

	@media (max-width: 912px) {
		width: 100% !important;
	}

	@media (max-width: 480px) {
		height: 100% !important;
	}

	&__btn-social {
		@media (max-width: 480px) {
			width: 100% !important;		
		}
	}

	&__btn-facebook {
		background-color: $background-color_2  !important;
		color: $color_1  !important;
		width: 48%;
	}
	
	&__btn-facebook:hover {
		transform: scale(1.05);
		transition: all 0.3s;
	}
	
	&__btn-google {
		background-color: $background-color_1  !important;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8);
		float: right;
		width: 48%;
	}
	
	&__btn-google:hover {
		transform: scale(1.05);
		transition: all 0.3s;
	}
	
	&__form {
		width: 70%;
	
		@media (max-width: 480px) {
			width: 100% !important;
		}
	}
	
	&__forgot_password {
		color: $color_2  !important;
	}
	
	&__btn-signIn {
		width: 100%;
		background-color: $background-color_3  !important;
		color: $color_1  !important;
	}
	
	&__btn-signIn:hover {
		transform: scale(1.05);
		transition: all 0.3s;
	}
	
	span {
		color: $color_2  !important;
	}
	
	&__signUp {
		color: $color_2  !important;
	}
}

// .login__btn-social {
// 	width: 70%;
// 	@media (max-width: 480px) {
// 		width: 100% !important;		
// 	}
// }

